@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: justify;
	font-size: 16px;
	padding: 15px;
	margin: 0px;
}

.contentHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #0070C0;
	font-weight: bold;
	letter-spacing: -1.5px;
}

a:link {
	color: #15C;
	text-decoration: none;
}
a:visited {
	color: #15C;
	text-decoration: none;
}
a:hover {
	color: #9B2D2D;
	text-decoration: underline;
}

a.menuLink {
	font-size: 16px;
}
a.menuLink:link {
	color: #9B2D2D;
	text-decoration: none;
}
a.menuLink:visited {
	color: #9B2D2D;
	text-decoration: none;
}
a.menuLink:hover {
	color: red;
	text-decoration: none;
}
.menuDisabled {
	font-size: 16px;
	color: #666666;
}

.headerSlot {
	padding-bottom: 5px;
	margin: 10px 0 10px;
}

.footerSlot {
	border-top: 1px SOLID #CBCBCB;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
}

.headerMenuDiv {
	margin-top: 10px;
}

.headerMenuDiv ul {
	list-style-type: none;
	margin: auto;
	padding: 0px;
}
.headerMenuDiv li {
	display: inline-block;
	padding-right: 20px;
}

a img{
	border:0;
}

.projectBox {
	border: 1px SOLID #5898D5;
	outline: none;
	padding: 10px;
	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.projectBox:hover {
	border: 1px SOLID #5898D5;
	outline: none;
	padding: 10px;
	background-color: #D5FFD5;
	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.projectName {
	font-size: 24px;
}

.products-section ul {
	display: inline-block;
	list-style: none;
	margin: 0 0 16px;
	padding: 0;
	width: 100%;
}

.products-section li {
	display: inline;
	float: left;
	position: relative;
	width: 50%;
	margin: 13px 0 8px;
}

.projectHeading {
	font-weight: bold;
}

.products-section img {
	float: left;
	padding: 0 1em 0 0;
	margin: 5px 0 0;
	width: 32px;
	height: 32px;
}

.products-section li p {
	margin: 0 2em 0 0;
	font-size: 14px;
	margin-left: 48px;
}

.mainwidth {
	width: 970px;
	margin: auto;
}

.myname {
    font-size: 40px;
	font-weight: bold;
}

.myname .firstname {
    color: RED;
}

.myname .lastname {
    color: #016fc0;
}

.tableClass {
	border: 1px SOLID #2094F0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: WHITESMOKE;
	width: 400px;
	margin-bottom: 20px;
}

a#donateButton {
	font: 16px;
/* 	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25); */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
	color: #23282e;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #ccf7c7;
	border-style: none;
	text-align: center;
	overflow: visible;
	margin-bottom: 5px;
	border: 1px SOLID #cdcfd1;
}

a#donateButton:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

h2 {
	font-size: 18px;
	margin-bottom: 0;
}

.releaseDiv {
	padding: 5px;
	border-radius: 3px;
	margin-top: 5px;
}

.releaseDiv .documentContent {
	text-align: justify;
}

.releaseDiv .topic {
	text-align: left;
}

.higlightedReleaseDiv {
	background: #fffbc3;
}

.sub-topic {
	font-weight: bold;
}

.download-icon-margin {
	margin-right: 15px;
}

.download-icon {
	width: 64px; height: 64px;
}

.donate-div {
	float: right;
	margin-top: 9px;
}

.contentHeader-div {
	float: left;
}

@media (prefers-color-scheme: dark) {
	body, .tableClass, html {
		background: #3b3e43 !important;
	}

	body, .releaseDiv .documentContent {
		color: #b8bcbf;
	}

	.contentHeader {
		color: #e6e6e6;
	}

	h2 {
		color: WHITE;
	}

	a.menuLink:visited, a.menuLink:link, a:visited, a:link {
		color: #e8de57;
	}

	a.menuLink:hover, a:hover {
		color: #00ff2d;
	}

	a#donateButton:hover {
		background: #054377;
	}

	a#donateButton {
		background: #055777;
		color: WHITE;
	}

	.tableClass {
		border: 1px SOLID;
	}

	.headerSlot, .tableClass {
		border-color: GRAY;
	}

	.footerSlot {
		background-color: #949494;
	}

	.higlightedReleaseDiv {
		background: #2e3135;
	}
}

@media screen and (max-width: 1000px) {
	.mainwidth {
		width: 800px;
	}
}

@media screen and (max-width: 820px) {
	.mainwidth {
		width: 700px;
	}
}

@media screen and (max-width: 720px) {
	.mainwidth {
		width: 600px;
	}
}

@media screen and (max-width: 620px) {
	.mainwidth {
		width: 100%;
	}

	.products-section li {
		display: block;
		float: none;
		position: relative;
		width: auto;
	}

	.tableClass {
		width: 80%;
	}

	.download-icon-margin {
		margin-right: 0;
	}
}

@media screen and (max-width: 420px) {
	.donate-div {
		float: none;
	}
	
	.contentHeader-div {
		float: none;
	}
}