.tableClass {
	border: 1px SOLID #2094F0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: WHITESMOKE;
	width: 400px;
	margin-bottom: 20px;
}

a#donateButton {
	font: bold 16px Courier New;
/* 	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25); */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
	color: #23282e;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #ccf7c7;
	border-style: none;
	text-align: center;
	overflow: visible;
	margin-bottom: 5px;
	border: 1px SOLID #cdcfd1;
}

a#donateButton:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.topic h2 {
	font-family: Courier New;
	font-size: 16px;
	clear: left;
	margin-bottom: 0;
	padding-bottom: 0;
}

.line {
	border-bottom: 1px solid #EBEBEB;
}

.releaseDiv {
	padding: 5px;
	border: 1px SOLID WHITE;
	border-radius: 3px;
	margin-top: 5px;
}

.releaseDiv:hover {
	background: whitesmoke;
}

.releaseDiv .documentContent {
	text-align: justify;
}

.releaseDiv .topic {
	text-align: left;
}

.higlightedReleaseDiv {
	background: #FFF479;
}

.mainHeaderIcon {
	text-align: left;
	background: url(pratikabu-stt-128.png) no-repeat;
	text-indent: 60px;
	display: inline-block;
	line-height: 50px;
	letter-spacing: -1.5px;
	font-weight: bold;
	background-size: 48px 48px;
}

.sub-topic {
	font-weight: bold;
}
